{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xd-12 text-center">
                <h1>Entrez votre email si vous déménagez !</h1>
                {{ form_start(form) }}
                <div class="form-group">
                {{ form_widget(form.email, {'attr': {'class': 'inputForm text-center'}}) }}
                {{ form_errors(form.email) }}
                <input type="submit" value="Continuer" class="btn btn-block btn-lg btnForm"/>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
