{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="panel-title text-center"><a href="{{ path('user_object_index', {'id':moveOutRoom.id}) }}" class="pull-left"><</a>Choisissez vos objets</h1>

    </div>
    <div class="row mainZone">
        {% for object in objects %}
            <div class="col-sm-3 text-center">
                <a href="{{ path('object_new', {'moveOutRoom':moveOutRoom.id, 'object':object.id} ) }}" class="thumbnail thumbnail1">{{ object.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}