{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="icon icon-arrow-left"></div>
        <h1 class="panel-title text-center">Choisissez vos objets</h1>

    </div>
    <div class="row mainZone">
        {% for object in objects %}
            <div class="col-sm-3 text-center">
                <a href="{{ path('user_object_category_index', {'moveOutRoom_id':moveOutRoom.id}, {'category_id':category.id}) }}" class="thumbnail thumbnail1">{{ object.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}