{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="panel-title text-center">Choisissez vos objets</h1>
    </div>
    <div class="row mainZone">
        {% for category in categories %}
            <div class="col-sm-3 text-center">
                <a href="{{ path('object_index', {'id':category.id}) }}" class="thumbnail thumbnail1">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}