{% extends 'base.html.twig' %}

{% block menu %}

    <div class="menu">
        <ul>
            {% for menuRoom in menuRooms %}
                <li class="thumbnail thumbnail2">
                    {{ menuRoom.name }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}