{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="panel-title text-center">Choisissez vos pièces</h1>
    </div>
    <div class="row mainZone">
        {% for room in rooms %}
            <div class="col-sm-3 text-center maDivFlex">
                <a href="{{ path('room_adding', { 'id':room.id } ) }}"
                   class="thumbnail thumbnail1"
                   style="background-image: url( {{asset( 'picturesRooms/' ~ room.pictureName) }})">
                {{ room.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}