{% extends 'base.html.twig' %}

{% block body %}

    <form>
        <input id="appbundle_room_object" autocomplete="off" type="text" name="search" placeholder="Recherche">
    </form>
    <ul id="autocomplete"></ul>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        $('#autocomplete').html('default');
    </script>

{% endblock %}