{% extends 'base.html.twig' %}

{% block body %}

    <form>
        <input id="appbundle_room_object" autocomplete="off" type="text" name="search" placeholder="Recherche">
    </form>
    <div id="autocomplete"></div>

{% endblock %}